.mrs-product-grid-panel-body {
    .mrs-typography {
        .mrs-typography-btn {
            display: flex;
            justify-content: space-between;
            .mrs-component-title {
                text-transform: uppercase;
                color: #757575;
                font-weight: 700;
                font-size: 11px;
                margin-bottom: 8px;
                display: flex;
                align-items: center;
            }
            .components-button {
                border: 1px solid #9b438b;
                color: #9b438b;
            }
            &.active {
                .components-button {
                    background-color: #9b438b;
                    color: #fff;
                }
            }
        }
        .mrs-typography-fonts {
            display: none;
            margin: 20px auto;
            padding: 20px 15px 10px;
            box-shadow: 0px 1.2px 2px -0.2px rgba(0, 0, 0, 0.1), 0px 0.3px 4px -0.5px rgba(0, 0, 0, 0.1);
            &.open {
                display: block;
            }
            .mrs-typography-family {
                input[type="text"]:focus {
                    box-shadow: none;
                }
            }
        }
        .typography-btn-group-label {
            display: block;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}