/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mrs-block-mrs-products-grid {
	border: 1px dotted #f00;
	.mrs-products-grid-wrapper {
		.mrs-products-grid-content {
			display: flex;
			flex-wrap: wrap;
			.mrs-product-col {
				@for $i from 1 through 6 {
					&.has-#{$i}-col {
						width: calc( 100% / #{$i} - 20px);
						margin: 10px;
					}
				}
				.mrs-product {
					.mrs-product-img-wrapper{
						position: relative;

						.mrs-product-img {
							img {
								width: 100%;
								height: auto;
							}
						}
						.mrs-product-img-overlay {
							position: absolute;
							top: 5px;
							right: 10px;
							background: #fff;
							padding: 5px 10px;
							border: 1px solid;
							border-radius: 5px;
							font-size: 14px;
						}
					}
					.mrs-product-content-wrapper{
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						.mrs-product-title {
							h4 {
								margin: 10px;
								font-size: 20px;
								font-weight: 700;
							}
						}
						.mrs-product-price {
							span {
								font-size: 14px;
							}
						}
					}
				}
			}
		}
	}
}
.mrs-block-mrs-products-grid {
	.mrs-products-grid-wrapper {
		margin-left: -10px;
		margin-right: -10px;
	}
}


.components-tab-panel__tab-content {
	.mrs-product-grid-panel-body {
		.components-panel__body-title {
			background-color: #9b438b17;
		}
		&.is-opened {
			.components-panel__body-title {
				margin-bottom: 24px;
			}
		}
	}
}