/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mrs-block-mrs-products-grid {
		.mrs-products-grid-wrapper {
			.mrs-products-grid-content {
				.mrs-product-col {
					.mrs-product {
						.mrs-product-content-wrapper{
							.mrs-product-add-to-cart {
								.mrs-product-buy-btn-cart {
									.mrs-product-add-to-cart-button {
										cursor: default;
									}
								}
							}
						}
					}
				}
			}
		}
	}


.components-tab-panel__tab-content {
	.mrs-product-grid-panel-body {
		.components-panel__body-title {
			background-color: #9b438b17;
		}
		&.is-opened {
			.components-panel__body-title {
				margin-bottom: 24px;
			}
		}
		.components-grid .components-tools-panel {
			margin-bottom: 24px;
		}
		.mrs-product-grid-btn-label {
			display: block;
			margin-bottom: 10px;
		}
		.mrs-products-btn-group {
			display: flex;
			.mrs-products-btn {
				flex-grow: 1;
				justify-content: center;
				background: #ffffff;
				&.is-active {
					background: #9b438b;
					color: #ffffff;
				}
			}
		}
		.block-editor-panel-color-gradient-settings {
			border: none;
			margin: 0;
			padding: 0;
			.components-flex {
				&.components-h-stack{
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-between;
				}
			}
		}
	}
}

// ribon
// 	transform: rotate(39deg);
//     padding: 0 50px;
//     background: #ffa;
//     right: -36px;
//     top: 16px;
//     border: none;