/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.mrs-block-mrs-products-grid {
		.mrs-products-grid-wrapper {
			.mrs-products-grid-content {
				.mrs-product-col {
					.mrs-product {
						.mrs-product-content-wrapper{
							.mrs-product-add-to-cart {
								.mrs-product-buy-btn-cart {
									.mrs-product-add-to-cart-button {
										cursor: default;
									}
								}
							}
						}
					}
				}
			}
		}
	}


.components-tab-panel__tab-content {
	.mrs-product-grid-panel-body {
		.components-panel__body-title {
			background-color: #9b438b0f;
		}
		&.is-opened {
			.components-panel__body-title {
				background-color: #9b438b77;
				margin-bottom: 24px;
			}
		}
		.components-grid .components-tools-panel {
			margin-bottom: 24px;
		}
		.mrs-product-grid-btn-label {
			display: block;
			margin-bottom: 10px;
		}
		.mrs-products-btn-group {
			display: flex;
			margin: 20px auto;
			.mrs-products-btn {
				flex-grow: 1;
				justify-content: center;
				background: #ffffff;
				&.is-active {
					background: #9b438b;
					color: #ffffff;
				}
			}
		}
		.block-editor-panel-color-gradient-settings {
			border: none;
			margin: 0;
			padding: 0;
			.components-flex {
				&.components-h-stack{
					display: flex;
					flex-direction: row-reverse;
					justify-content: space-between;
				}
			}
		}
		.mrs-color-settings-panel {
			margin-bottom: 24px;
			.block-editor-tools-panel-color-gradient-settings__item {
				border: none;
				margin-bottom: 24px;
				button {
					padding: 0;
					.block-editor-panel-color-gradient-settings__color-name {
						text-transform: uppercase;
						font-size: 11px;
						font-weight: 700;
						color: #777;
					}
				}
			}
		}
		.mrs-products-style-select {
			display: flex;
			flex-direction: column;
			margin: 15px auto;
			.mrs-products-style-title {
				font-size: 12px;
				color: #555;
				font-weight: 700;
				text-transform: uppercase;
				display: block;
				margin-bottom: 10px;
			}
			.mrs-products-style-image-group {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				column-gap: 20px;
				.mrs-products-style-image-single {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-self: center;
					position: relative;
					figure {
						margin-bottom: 10px;
						img {
							width: 60px;
							height: 65px;
						}
						input {
							display: none;
						}
					}
					&.mrs-is-active {
						figure {
							&::before {
								position: absolute;
								top: 7px;
								right: 7px;
								display: flex;
								align-items: center;
								justify-content: center;
								content: "\f15e";
								font-family: dashicons;
								background: #1A74E4;
								border-radius: 50%;
								width: 12px;
								height: 12px;
								line-height: 14px;
								color: #fff;
							}
						}
					}
					
				}
			}
		}
		.mrs-products-mb {
			margin-bottom: 24px;
		}
	}
	.components-base-control .components-base-control__label {
		margin-bottom: 0;
	}
	.mrs-products-btn-group {
		button {
			transition: 0.3s ease;
		}
		button:focus {
			box-shadow: none;
		}
	}
}


